.link {
  color: black;
  text-decoration: none;
  border-style: solid;
  border-radius: 4px;
  border-color: rebeccapurple;
  border-end-start-radius: 10px;
  border-left-width: 5px;
  background-color: bisque;
  
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}